header {
    width: calc(100% - 40px); /* Ajustamos el ancho para dejar espacio para los márgenes */
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #fff;
    position: fixed;
    top: 0;
    z-index: 1000;
    margin-left: 20px; /* Margen izquierdo */
    margin-right: 20px; /* Margen derecho */
}
/* Estilos para el botón de cerrar sesión */
.cerrar-sesion {
    background-color: #f44336; /* Color rojo */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #000000;

}

.cerrar-sesion:hover {
    background-color: #e53935; /* Rojo más oscuro al hacer hover */
}

body {
    font-family: Arial, sans-serif; /* Fuente más sobria */
    background-color: #f9f9f9; /* Fondo suave */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #333; /* Texto en gris oscuro para mejor legibilidad */
}

h1 {
    color: #555; /* Color gris suave para el título */
    margin-bottom: 20px;
}

a {
    text-decoration: none; /* Eliminar subrayado */
    color: #007B7F; /* Color de enlace más suave */
    font-size: 16px;
    margin: 10px 0;
    display: block;
    transition: color 0.2s ease;
}

a:hover {
    color: #005F5F; /* Color más oscuro en hover */
}

button {
    background-color: #6c757d; /* Color gris para el botón */
    color: white; /* Texto blanco */
    font-size: 14px;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

button:hover {
    background-color: #5a6268; /* Gris más oscuro en hover */
}

#bienvenido {
    margin-top: 20px;
    font-size: 18px;
    color: #666; /* Gris suave para el mensaje de bienvenida */
}